<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>  
    
  </appSettings>
  <system.web>
    <identity impersonate="true"/>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0"/> 
  </system.web> 
<system.webServer>
    <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
</system.webServer>
</configuration>