<div class="container">
    <div class="form-group">
        <label for="inputEmail" class="control-label col-xs-2" style="width:auto;" n-lang="REQUIRE_EMAIL">Nhập vào địa chỉ Email</label>:
        <div class="col-xs-8">
            <input class="form-control" type="email" id="inputEmail" autocomplete="off" n-lang="attr_placeholder" code="REQUIRE_EMAIL" placeholder="Nhập vào email" ng-model="entity.email" />
        </div>
    </div>  
    <div class="form-group">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-4">
            <div style="clear:both">
                <label n-lang="REQUIRE_ACTIVECODE">Nhập vào mã xác nhận:</label>
                <input class="form-control" type="text" ng-model="entity.textCaptChar" id="textCaptChar" name="textCaptChar">

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-10">
            <input type="button" class="btn btn-primary" n-lang="attr_value" ng-click="register('recoverypwd',entity)" value="Login">
        </div>
    </div>

</div>

