<div style="font-family:'Times New Roman'; font-size:14px">
    Xin chào <strong>===user_desc===</strong>,<br />
    <br />
    Quý khách đã đăng ký thành công Email trên <strong>===Config_AppName===</strong>
    <br />
    Để hoàn tất thủ tục đăng ký, quý khách vui lòng click vào đường link sau để kích hoạt Email<br />
    <a href="===AppLinkActive===">===AppLinkActive===</a>
    <br />
    Nếu sau ===OverActiveDays=== ngày quý khách không kích hoạt, hệ thống sẽ tự động xóa bỏ yêu cầu này.
    <br />
    <br />
    <span class="auto-style1"><em>Chú ý: Đây là e-mail tự động. Vui lòng không reply. </em></span>
    <br />
    <br />
    <strong>Trân trọng cảm ơn! </strong>

</div>
