<div style="font-family:'Times New Roman'; font-size:14px">
    Xin chào <strong>===user_desc===</strong>,<br />
    <br />
    Chúng tôi vừa nhận được yêu cầu cấp lại mật khẩu cho tài khoản của bạn trên <strong>===Config_AppName===</strong>
    <br />
    Vui lòng click vào đường link sau để thay đổi mật khẩu<br />
    <a href="===AppLinkActive===">===AppLinkActive===</a>
    <br />
    Nếu không thực hiện các thao tác này thì mật khẩu của bạn vẫn giữ nguyên không thay đổi.
    <br />
    Email cấp lại mật khẩu chỉ có giá trị trong vòng  ===OverActiveDays=== ngày.  
    <br />
    <span class="auto-style1"><em>Chú ý: Đây là e-mail tự động. Vui lòng không reply. </em></span>
    <br />
    <br />
    <strong>Trân trọng cảm ơn! </strong>

</div>
