
body
{
    margin: 0;
    padding: 0;
    background-color: #c4dafa; /*c4dafa*/
    font-family: Tahoma;
}


img
{
    border:0px;
}
.area_topImg
{
    background: url(../ImgBody/banner.jpg) 0 100%;
    height: 76px !important;
    background-repeat:no-repeat;
    background-position:top right
}
.area_topleftImg
{
    background: url(../ImgBody/banner-left.jpg) 0 100%;
    height: 76px !important;

    background-repeat:repeat;
    background-position:top right;
    white-space:nowrap
}

.area_top
{
   
    height: 34px !important;

    background-repeat:repeat;
    background-position:top right;
    white-space:nowrap;
    background-color:#FFDD9D
}

#pnToolBar
{
    padding: 0px 0px 5px 0px;
    margin: 0;
    height: 21px;
    width: 100%;
    font-size: 10pt;    
    background-color:#FFDD9D

}
#pnToolBar a
{
    color:#7a1a7a;
}
#pnToolBar a:hover
{
    font-weight:bold;
}

#pnLeftContent
{
    background-color: #E0ECFF;
    background-repeat: repeat;
    background: url('../ImgBody/bg_left.jpg') bottom;
}
#pnFooter
{
    width: 100%;
    height: 25px;
    font-size: 9pt;
    background-color: #c4dafa;
    background: url('../ImgBody/bg_footer.jpg') bottom #c4dafa  ;
    background-repeat: repeat-x;
    vertical-align: bottom;    
    padding: 5px 0px 0px 0px;   
}

#pnFooter a:hover
{
    font-weight:bold;
}

#pnChangeManage
{
    float: left;
    margin-left: 0px;
    width: 228px;
    height: 100%;
    text-align: center;
}

#pnWellCome
{
    float: left;
    height: 100%; /*width:300px;*/
}

#pnHome
{
    float: left;
    height: 100%; /*width:70px;*/ /*cursor:pointer;*/
}

#pnLang
{
    float: left;
    height: 100%; /*width:180px;*/
}

#pnRefresh
{
    float: left;
    height: 100%; /*width:230px;*/ /*cursor:pointer;*/
}

#pnLogOut
{
    margin-right: 10px;
    float: right;
    height: 100%; /*width:80px;*/
    text-align: right; /*cursor:pointer;*/
}

.button
{
    margin-top: 2px;
    height: 22px;
    border: 1px solid #002d96;
    font-size: 8pt;
    cursor: pointer;
    background-image: url('../../../Images/TabImg/bg_button.gif');
}
.button:hover
{
    background-image: url('../../../Images/TabImg/bg_button_hover.gif');
}



a
{   
    text-decoration: none;  
}
img
{
    vertical-align: middle;
}
